<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFullTextService" />
                <binding name="WSHttpBinding_ISecurityService" />
                <binding name="WSHttpBinding_IDataService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/HA.Services/FullTextService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFullTextService"
                contract="FullTextService.IFullTextService" name="WSHttpBinding_IFullTextService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/HA.Services/SecurityService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISecurityService"
                contract="SecurityService.ISecurityService" name="WSHttpBinding_ISecurityService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/HA.Services/DataService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataService"
                contract="DataService.IDataService" name="WSHttpBinding_IDataService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>