<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/HA.Services/DataService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataService"
        contract="DataService.IDataService" name="WSHttpBinding_IDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/HA.Services/SecurityService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISecurityService"
        contract="SecurityService.ISecurityService" name="WSHttpBinding_ISecurityService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/HA.Services/FullTextService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFullTextService"
        contract="FullTextService.IFullTextService" name="WSHttpBinding_IFullTextService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service behaviorConfiguration="BehaviorConfig" name="HA.Services.DataService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="SecurityBinding"
          contract="HA.Services.IDataService">
          <identity>
            <certificateReference storeName="Root" x509FindType="FindBySubjectName"
              findValue="DCHCert" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BehaviorConfig" name="HA.Services.FullTextService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="SecurityBinding"
          contract="HA.Services.IFullTextService">
          <identity>
            <certificateReference storeName="Root" x509FindType="FindBySubjectName"
              findValue="DCHCert" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BehaviorConfig" name="HA.Services.SecurityService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="SecurityBinding"
          contract="HA.Services.ISecurityService">
          <identity>
            <certificateReference storeName="Root" x509FindType="FindBySubjectName"
              findValue="DCHCert" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviorConfig">
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="DCHCert" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="HA.Services.AuthenticationValidator,HA.Services" />
          </serviceCredentials>
          <serviceSecurityAudit auditLogLocation="Security" serviceAuthorizationAuditLevel="SuccessOrFailure" messageAuthenticationAuditLevel="SuccessOrFailure" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="HA.Services.AuthorizationPolicy, HA.Services, Version=1.0.0.0, Culture=neutral, PublicStateToken=null" />
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceMetadata httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SecurityBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          sendTimeout="00:10:00" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="01:00:00" enabled="true" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDataService" />
        <binding name="WSHttpBinding_ISecurityService" />
        <binding name="WSHttpBinding_IFullTextService" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=DESKTOP-8HDBMMN;Initial Catalog=HA.DigitalChangeoverDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8HDBMMN;initial catalog=HA.DigitalChangeoverDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>